*{
    margin: 0; padding: 0; text-decoration: 0;
}
.box{
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 50px;
}
.red{
    background-color: red;
    
}
.green{
    background-color: rgb(12, 243, 89);
}
.brown{
    border: orange solid; width: 100%;
    margin-top: 60px;
}
.tomatto{
    border: yellow solid; width: 100%;
    margin-top: 60px;
}